.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fv-a {
  position: relative;
}

.wrapper {
  position: absolute;
  font-size: rem(12);
  font-size: rem(12);
  color: #fff;
  background: #000;
  width: 60%;
  height: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}